body {
  margin: 0;
  /* overflow: hidden; */
  text-align: center;
}
p {
  color: blue;
  font-weight: bold;
}
h1 {
  text-align: center;
  letter-spacing: 2px;
}
h4 {
  text-align: center;
}
text {
  text-align: end;
}
#Start {
  border-radius: 20%;
  width: 50px;
  height: 20px;
  cursor: pointer;
}
.box {
  margin-top: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 980px;
  border: 2px solid black;
  background-image: url(bg1.webp);
  background-repeat: no-repeat;
  background-size: 100% 110%;
}
#character {
  margin-top: 230px;
  margin-left: 40px;
  background: none;
  width: 100px;
  height: 220px;
  position: absolute;
  animation: none;
}
#boy {
  width: 85px;
  height: 205px;
}
#block {
  background-color: none;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 290px;
  margin-bottom: 0px;
  width: 100px;
  height: 140px;
  animation: none;
}
#girl {
  width: 140px;
  height: 150px;
}
#ForMusic {
  font-size: x-large;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
#cheat {
  position: absolute;
  visibility: hidden;
  padding-top: 1px;
  background-color: rgb(19, 16, 16);
  color: rgb(214, 203, 203);
  font-style: inherit;
  font-size: medium;
  width: 200px;
  height: 25px;
  margin: 0px auto auto 0px;

  animation: none;
}

@keyframes gameOn {
  0% {
    margin-right: 0px;
  }
  50% {
    margin-right: 440px;
  }

  100% {
    margin-right: 880px;
  }
}

@keyframes jump {
  0% {
    margin-top: 230px;
  }
  45% {
    margin-top: 90px;
  }
  55% {
    margin-top: 90px;
  }
  100% {
    margin-top: 230px;
  }
}

@keyframes hackVisibility {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes hackOpacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
